<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/todolist.css">
  <link rel="stylesheet" href="css/base.css">
  <title>todolist</title>
</head>

<body>
  <!-- Header -->
  <!-- Navbar -->
  <header>
    <div th:insert="fragments/navbar.html :: navbar"></div>
  </header>

  <!-- Main Body -->
  <main>

      <div class="jumbotron text-center">
          <h1 class="display-4" >ToDos</h1>
          <div id="list-items">
              <div id='row' class="row">
                  <!--pdt controller-->

              </div>  <!-- End of row -->
          </div> <!-- End of List item div -->
      </div>  <!-- End div -->
  </main>
  <script src="js/bootstrap.bundle.min.js"></script>

  <script src="js/productController.js"></script>
  <script src="js/productListing.js"></script>
</body>

</html>